html {
	scroll-behavior: smooth;
}
/*
body {
	background: url(wall02.jpg)no-repeat fixed center;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%), url(wall02.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
*/

header {
	width: 100%;
	text-align: center;
}

small {
	font-size: 1.5em;	
}

.wrap-7 {
	margin-top: 7%;
}

.wrap-2 {
	margin-top: 2%;
}

.container {
	width: 55%;
}

.nav {
	margin-top: 2%;
	font-size: 1.1em;
}

.border {
	border-style: solid;
	border-width: 1px;
}

a {
	text-align: center;
	color: #212529;
	font-size: 1.1em;
}

a {
	text-transform: none;
}

a:hover {
	transition: 0.5s;
	color: red;
}

.bac-color {
	background-color: #F5F5F5; /*#FFF0F5(svetle seda?),*/
}

.fa {
	padding: 15px;
  	font-size: 30px;
  	width: 50px;
  	text-align: center;
  	text-decoration: none;
}

.fa-twitter:hover {
	color: #1DA1F2;
}

.fa-instagram:hover {
	color: #e95950
}

.article-header {
	font-size: 1.7em;
}

.article-content {
	font-size: 1.1em;
}